@font-face {
    font-family: Helvetica, sans-serif;
    src: url('/src/assets/fonts/Helvetica-Font/Helvetica.ttf');
}

@font-face {
    font-family: 'Segoe UI';
    src: url('/src/assets/fonts/Segoe\ UI/.ttf');
}